STEAM2IMMICH_IMMICH_BASE_URL=
STEAM2IMMICH_IMMICH_API_KEY=
STEAM2IMMICH_STEAM_ROOT=C:\Program Files (x86)\Steam
STEAM2IMMICH_STEAM_USER_ID=
STEAM2IMMICH_UNCOMPRESSED_DIR=
STEAM2IMMICH_OUTPUT_DIR=workdir
STEAM2IMMICH_APP_NAMES_OVERRIDES=app_names_overrides.json
STEAM2IMMICH_DRY_RUN=false
STEAM2IMMICH_ALBUM_MODE=single
STEAM2IMMICH_SINGLE_ALBUM_NAME=Steam Screenshots
STEAM2IMMICH_ALBUM_PREFIX=Steam -
STEAM2IMMICH_LOG_LEVEL=INFO
STEAM2IMMICH_LIMIT=
STEAM2IMMICH_APP_ID=
